<div class="sidebar h-screen w-44 md:w-60 back flex flex-col justify-between py-5">
  <div class="mb-20 py-3 flex items-center justify-start font-normal px-1 text- bg-orange-400 scale-110 text-white">
    
    <p class="text-4xl pl-2">🍕</p>
    <div class="w-full h-auto flex flex-col items-start justify-start">
      <p class="mt-1 ml-2 font-medium   text-2xl ">Library</p>
      <p class="mt-1 ml-2 font-medium text-2xl ">Management.io</p>
    </div>
  </div> 



<div class="flex flex-col mb-44 bg-red-00 px- ">
  <a class="mb hover:bg-orange-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/">
    <p class="text-xl mr-2">🏡</p>

    <p class="pt-2 pl-2 font-semibold">Home</p>
  </a>  
  
  <a class="mb hover:bg-orange-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/books">
      <p class="text-xl">🧾</p>

      <p class="pt-2 pl-2 font-semibold">Books</p>
    </a> 
    <a class="mb hover:bg-orange-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/student">
      <p class="text-xl">😀</p>
      <p class="pt-2 pl-2 font-semibold">Students</p>
    </a>
    <a class="mb hover:bg-orange-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/loan">
      <p class="text-xl">💰</p>
      <p class="pt-2 pl-3 font-semibold">Loans</p>
    </a>
    <a class="mb hover:bg-orange-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/publisher">
      <p class="text-xl">👨‍💻</p>
      <p class="pt-2 pl-2 font-semibold">Publishers</p>
    </a>
    <a class="mb hover:bg-orange-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/admin">
      <p class="text-xl">🔐</p>
      <p class="pt-2 pl-2 font-semibold">Admin</p>
    </a>

    <a class="mb hover:bg-orange-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/author">
      <p class="text-xl">🤖</p>
      <p class="pt-2 pl-2 font-semibold">Author</p>
    </a>
  </div>
  

    <div class=" flex flex-col mb-10">
      <!-- <a class="mb hover:bg-orange-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/help">
        <mat-icon style="">help_outlined</mat-icon>
        <p class="mt-1 ml-2 font-medium">Help</p>
      </a> -->
    </div>
</div>


